- form_for @movie, :html => { :multipart => true } do |f|
  = f.error_messages
  = f.label :title, "Tytuł" 
  = f.text_field :title
  = f.label :description, "Opis"
  = f.text_area :description
  = f.label :director, "Reżyser"
  = f.text_field :director 
  = f.label :premiere, "Premiera"
  .date= f.date_select :premiere, :order => [:day, :month, :year], :prompt => { :day => 'Dzień', :month => 'Miesiąc', :year => 'Rok' }
  =f.label :photo, "Okładka"
  - if @movie.new_record?
    .img= image_tag "/photos/small/missing.png"
  - else
    .img= image_tag @movie.photo.url(:small)
  = f.file_field :photo, :value => @movie.photo
  = f.submit 'Zapisz', :class => "submit"

