.box.rounded.movie
  %span.photo
    = link_to image_tag(movie.photo.url(:small), :alt => movie.title), movie.photo.url, :rel => "prettyPhoto" 
  %h2
    =h movie.title
  %p
    %strong= "Kategoria: "
    =h movie.category.name unless movie.category.nil?
  %p
    %strong= "Reżyser: "
    =h movie.director 
  %p
    %strong= "Premiera: "
    =h movie.premiere.to_date unless movie.premiere.nil?
  .clear
  %p
    %strong= "Opis:"
  %p
    =h movie.description
  %p
    %strong= "Obsada:"
  %p
    - movie.actors.each do |actor|
      = link_to image_tag(actor.picture.url(:small), :alt => actor.name), actor.picture.url, :rel => "prettyPhoto[movie_#{movie.id}]"
  .clear 
  .rfloat
    = link_to 'Edytuj', edit_movie_path(movie) 
    = link_to 'Usuń', movie, :confirm => 'Jesteś pewien?', :method => :delete 
  .clear


