!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'}
    %title= h(yield(:title) || "Index") << " - My Movie Database by Krzysztof Jabłoński"
    = stylesheet_link_tag 'style', 'prettyPhoto'
    = javascript_include_tag 'jquery-1.3.2.min', 'jquery.prettyPhoto', 'application'
    = yield(:head)
  %body
    -##header
      = "My Movie Database"
    #container
      = yield

